<ion-menu contentId="main-content" [type]="menuType">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <h2>CINEMATRIX</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-title class="sideheading">
    <h2>MENU</h2>
  </ion-card-title>
  <ion-content>
    <ion-card href="home">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="home-outline"></ion-icon>
          <h3>Home</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="search">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="search-outline" ></ion-icon>
          <h3>Search</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="upcoming-series">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="stopwatch-outline" ></ion-icon>
          <h3>Coming Soon</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="now-playing">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="play-circle-outline" ></ion-icon>
          <h3>Now Playing</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="categories">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="apps-outline" ></ion-icon>
          <h3>Categories</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>
  <ion-card-title class="sideheading">
    <h2>LIBRARY</h2>
  </ion-card-title>
  <ion-content>
    <ion-card href="week-trending-series">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="tv-outline" ></ion-icon>
          <h3>TV Series</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="top-rated">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="videocam-outline" ></ion-icon>
          <h3>Top Rated Movies</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="top-rated-series">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="star-half-outline" ></ion-icon>
          <h3>Top Rated Series</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card href="animated-movies">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="happy-outline" ></ion-icon>
          <h3>Kids</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="log-out-outline" ></ion-icon>
          <h3>LogOut</h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>
</ion-menu>