<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="home">
      <ion-icon name="home"></ion-icon>
      <p>Home</p>
    </ion-tab-button>
    <ion-tab-button href="recommended">
      <ion-icon name="play-circle"></ion-icon>
      <p>Movies</p>
    </ion-tab-button>
    <ion-tab-button href="recommended-series">
      <ion-icon name="radio"></ion-icon>
      <p>Series</p>
    </ion-tab-button>
    <ion-tab-button href="categories">
      <ion-icon name="library"></ion-icon>
      <p>Library</p>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>