<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<section>
  <ion-card href="action">
    <ion-card-header>
      <ion-card-title>
        <h3>Action</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="adventure">
    <ion-card-header>
      <ion-card-title>
        <h3>Adventure</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="family">
    <ion-card-header>
      <ion-card-title>
        <h3>Family</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="anime">
    <ion-card-header>
      <ion-card-title>
        <h3>Anime</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="mystery">
    <ion-card-header>
      <ion-card-title>
        <h3>Mystery</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="thriller">
    <ion-card-header>
      <ion-card-title>
        <h3>Thriller</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="comedy">
    <ion-card-header>
      <ion-card-title>
        <h3>Comedy</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="horror">
    <ion-card-header>
      <ion-card-title>
        <h3>Horror</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="drama">
    <ion-card-header>
      <ion-card-title>
        <h3>Drama</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="animated-movies">
    <ion-card-header>
      <ion-card-title>
        <h3>Kids</h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</section>