<app-navbar></app-navbar>
<app-sidenav></app-sidenav> 
<section>
  <article *ngFor="let racing of racingMovies()">
    <ion-card (click)="getSelectedMovieDetails(racing.id)">
      <img [alt]="racing.original_title" [src]="'https://image.tmdb.org/t/p/w500/' + racing.poster_path" />
      <ion-card-header>
        <ion-card-title>
          <h4>{{racing.original_title}}</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          <h5>{{racing.release_date | date:'YYYY'}}</h5>
          <p><ion-icon name="star"></ion-icon> {{racing.vote_average.toFixed(1)}}</p>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </article>
</section>