<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<section>
  <article *ngFor="let weekTrending of weekTrendingSeries()">
    <ion-card (click)="getSelectedSeriesPage(weekTrending.id)">
      <img [alt]="weekTrending.original_name" [src]="'https://image.tmdb.org/t/p/w500/' + weekTrending.poster_path" />
      <ion-card-header>
        <ion-card-title>
          <h4>{{weekTrending.original_name}}</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          <h5>{{weekTrending.first_air_date | date:'YYYY'}}</h5>
          <p><ion-icon name="star"></ion-icon> {{weekTrending.vote_average.toFixed(1)}}</p>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </article>
</section>