<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<section>
  <article *ngFor="let comedy of comedySeries()">
    <ion-card (click)="getSelectedSeriesPage(comedy.id)">
      <img [alt]="comedy.original_name" [src]="'https://image.tmdb.org/t/p/w500/' + comedy.poster_path" />
      <ion-card-header>
        <ion-card-title>
          <h4>{{comedy.original_name}}</h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle>
          <h5>{{comedy.first_air_date | date:'YYYY'}}</h5>
          <p><ion-icon name="star"></ion-icon> {{comedy.vote_average.toFixed(1)}}</p>
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </article>
</section>