<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<section>
    <article *ngFor="let crime of crimeMovies()">
        <ion-card (click)="getSelectedMovieDetails(crime.id)">
            <img [alt]="crime.original_title" [src]="'https://image.tmdb.org/t/p/w500/' + crime.poster_path" />
            <ion-card-header>
                <ion-card-title>
                    <h4>{{crime.original_title}}</h4>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-card-subtitle>
                    <h5>{{crime.release_date | date: 'YYYY'}}</h5>
                    <p><ion-icon name="star"></ion-icon> {{crime.vote_average.toFixed(1)}}</p>
                </ion-card-subtitle>
            </ion-card-content>
        </ion-card>
    </article>
</section>